.img-fluid{
	opacity: 0.3;
	position:absolute;
}

.logo{
	position:absolute;
	margin-top:270px;
	margin-left:550px;
	
}

.navbar{
	border-top:2px solid black;
	border-bottom:2px solid black;
}

.navbar-nav{
	text-align:center;
	float: none;
	margin: 0 auto;
}

.content{
	width:100%;
	height:100%;
	
}

.description{
	width:80%;
	margin:auto;
	display:block;
	
}

.description p{
	font-size:20px;
	margin:50px;
	letter-spacing: 2px;
	text-align:justify;
}

.service h1{
	text-align:center;
	margin-bottom:30px;
}

.service h3{
	text-align:center;
	padding-bottom:10px;
}

.service p{
	text-align:justify;
}

.recent-works img{
	width:100%;
}

.recent-works h1{
	text-align:center;
	margin-bottom:30px;
}
.recent-works a,h3{
	color:black;
	text-align:center;
	padding-top:10px;
}

.col{
	padding-bottom:50px;
}

.body-panels{
	width:80%;
	height:100%;
	padding-top:3px;
	padding-bottom:3px;
	border:1px solid #D3D3D3;
	display:block;
	margin:auto;
	margin-bottom:50px;
}

.panels{
	width:99%;
	height:100%;
	background: 	#D3D3D3;
	display:block;
	margin:auto;
	padding-right:20px;
	padding-left:20px;
	padding-top:50px;
	padding-bottom:50px;
	font-size:20px;
	letter-spacing:2px;
}
.clients h1{
	text-align:center;
	margin-bottom:30px;
}

.clients img{
	width:100%;
	
}
.contact{
	width:100%;
	height:100%;
	background:#151515;
}

.contact h4{
	color:white;
	padding-top:20px;
	padding-bottom:25px;
}

.contact p{
	color:#D8D8D8;
}
.footer{
	background:black;
	height:100px;
	width:100%;
}
.footer p{
	color:white;
	text-align:center;
	padding-top:20px;
}
@media only screen and (max-width:1024px){
	.logo{
		margin-top:80px;
		margin-left:135px;
		width:22%;
	}
}